<div class="container">
    <div class="row">
        <h4 class="text-center text-white">{{counter$ | async}}</h4>
    <div class="btn-group col-6 mx-auto " role="group" aria-label="Basic mixed styles example">
        <button (click)="increment()" type="button" class="btn btn-success">increment</button>
        <button (click)="decrement()" type="button" class="btn btn-danger">decrement</button>
        <button (click)="reset()" type="button" class="btn btn-warning">rest</button>

</div>
      </div>
</div>