.card-img{
    height: 200px;
    width: 90%;
}
.low{
    background-color: rgb(251 191 36);
}
.meduim{
    background-color: rgb(163 230 53);
    background-color: rgb(74 222 128);

}
.high
{
    background-color: rgb(167 139 250)
}